<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="InQuery Unit Tests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <!-- <testsuite name="InQuery Compoment Tests">
            <directory suffix="Test.php">tests/component</directory>
        </testsuite> -->
    </testsuites>
</phpunit>