<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="InQuery test suite">
            <directory>tests/InQuery/*.php</directory>
            <file>tests/InQuery/InQueryTestCase.php</file>
        </testsuite>
    </testsuites>
</phpunit>